@media only screen and (max-width: 700px) {
    .contact{
        /* padding: 10px 100px 10px 100px; */
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        /* border: 1px solid white; */
        align-content: center;
        justify-content: center;
        margin-bottom: 200px;
        /* height: 50vh; */
    }
    
    .contact_form{
        /* border: 1px solid white; */
        width: 40%;
        min-width: 200px;
        max-width: 600px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .contact_form_control{
        display: flex;
        flex-direction: column;
        /* border: 1px solid white; */
        width: 100%;
        margin-bottom: 15px;
    }
    
    .contact_label{
        margin-bottom: 5px;
        margin-left: 2px;
        font-weight: bold;
    }
    
    .contact_input{
        width: 100%;
        height: 30px;
        border-radius: 8px;
    }
    
    .contact_textarea{
        width: 100%;
        border-radius: 8px;
        resize: none;
    }
    
    .contact_send_bn{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px 5px 10px 5px;
        text-align: center;
        background-color: #1c4b74;
        cursor: pointer;
    }
    
    .contact_send_bn:hover{
        transform: scale(1.01);
        background-color: #3898ec;
    }

    .contact_icons{
        margin-left: auto;
        margin-right: auto;
    }
    
    .contact_icon{
        font-size: 4.5em;
    }
}

@media only screen and (min-width: 700px) {
    .contact{
        padding: 10px 100px 10px 100px;
        display: flex;
        flex-direction: row;
        /* border: 1px solid white; */
        justify-content: space-between;
        /* margin-bottom: 200px; */
        margin-bottom: 190px;
        height: 600px;
        /* margin-bottom: 250px; */
    }
    
    .contact_form{
        /* border: 1px solid white; */
        width: 40%;
        min-width: 200px;
        max-width: 600px;
        /* margin-left: -100px; */
    }
    
    .contact_form_control{
        display: flex;
        flex-direction: column;
        /* border: 1px solid white; */
        width: 100%;
        margin-bottom: 15px;
    }
    
    .contact_label{
        margin-bottom: 5px;
        margin-left: 2px;
        font-weight: bold;
    }
    
    .contact_input{
        width: 100%;
        height: 30px;
        border-radius: 8px;
    }
    
    .contact_textarea{
        width: 100%;
        border-radius: 8px;
        resize: none;
    }
    
    .contact_send_bn{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px 5px 10px 5px;
        text-align: center;
        background-color: #1c4b74;
        cursor: pointer;
    }
    
    .contact_send_bn:hover{
        transform: scale(1.01);
        background-color: #3898ec;
    }

    .contact_icons{
        margin-right: 60px;
    }
    
    .contact_icon{
        font-size: 4.5em;
    }
}

.contact_icon_control{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.contact_icon_label{
    font-weight: bold;
}

.contact_socials{
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
    padding-top: 20px;
    cursor: pointer;
}

.contact_social_icon:hover{
    transform: scale(1.05);
}

.contact_social_icon{
    font-size: 2.5em;
}

