.drawer-container {
    --transition-speed: 0.9s;
    transition-duration: 0.9s;
}

.drawer {
    /* background-image: linear-gradient(75deg, #203a43, #0f2027); */
    background: #203a43;
    width: 300px;
    height: 100%;
    overflow: auto;
    position: fixed;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: transform var(--transition-speed) ease;
    z-index: 1000;
    color: white;
}

.drawer.left {
    top: 0;
    left: 0;
    /* transition-duration: 2s; */
    transform: translateX(-100%);
}

.drawer-container.open .left{
    transition-duration: 2s;
    /* transition: 900ms ease-out; */
    transform: translateX(0);
}

.backdrop {
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity var(--transition-speed) ease, 
        visibility var(--transition-speed) ease;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    pointer-events: none;
    z-index: 0;
}

.drawer-container.open .drawer {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.drawer-container.open .backdrop {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    z-index: 999;
}

.drawer_nav{
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    /* margin-left: 35%; */
    /* justify-content: flex-end; */
    /* align-items: center; */
}


.drawer_nav_item{
    font-size: 20px;
    cursor: pointer;
    align-self: center;
    padding: 10px 60px 10px 60px;
    width: 100%;
    margin-left: 50px;
    /* text-align: center; */
    /* border: 1px solid white; */
}

.drawer_nav_item:hover{
    background: gray;
}

.drawer_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.drawer_exit{
    cursor: pointer;
    color: white;
}